@import url("https://fonts.googleapis.com/css?family=Montserrat|Pacifico");

.load {

	background-image: url("things/load_bg.jpg");
  border-radius: 20px;
  transition:all 1s ease-in-out 0s;

  text-align: center;
	width: 50%;
  margin: 0 auto;
}

.load .l1 { 
	font-family:"Montserrat";
	font-weight:100;
	font-size:40px;
}

.load .l2 {
	font-family:"Pacifico";
	font-weight:70;
	font-size:60px;
}


h1 {
  text-align: center;
  color: white;
}

.social-icon {
	width: 100%;
  margin:100px 750px;


}

.social-icon li {
	position: relative;
  display: inline-block;
	padding: 10px;
}

.social-icon li a {
  color: #000;
  background: #fff;
  width: 50px;
  height: 50px;
  line-height: 55px;
  display: block;
  text-align: center;
  border-radius: 100%;
  font-size: 25px;
  margin: 0 auto;
	margin-top: -50%;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.social-icon a:hover {
  color: #fff;

}

.social-icon .github:hover {

  background: #000000;
}

.social-icon li .doc:hover {

  background: #4A9CEC;
}

.social-icon li .linkedin:hover {

  background: #1260A2;
}

.social-icon li .google:hover {

  background: #CE332A;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
	text-decoration: none;
}

a:hover {
  
}


.text {
  margin-top: 20px !important;

    text-align: center;
	width: 100%;
  margin: 0 auto;
	font-size: 40px;

}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;

  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}

.morning {
  color: #ffb6c1;
}


